/* Makes table header stick to top of page when scrolling */
thead {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  box-shadow: inset 0.5px 0.5px #DEE2E6, 0 0.5px #DEE2E6;
  background-color: #fff;
}
